@import "../styles/global.scss";


.container-fluid{
    height: 201px;	
    width: 100%;	
    background-color: #F3F3F3;
    margin-top: 324px;
}

.global{
    .conseils{
        text-align: center;
        padding: 0;
    }
    .img{
        display: flex;
        justify-content: center;
    }
    .text-footer{
        height: 54px;	
        width: 221px;
        margin: auto;	
        color: #7A7A7A;	
        font-family: "Noto Sans";	
        font-size: 13px;	
        line-height: 18px;	
    }
    .titre-footer{
        height: 24px;	
       	
        color: #4A4A4A;	
        font-family: "Noto Sans";	
        font-size: 13px;	
        font-weight: bold;	
        line-height: 24px;	
    }
}